* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  padding: 8px 12px;
  bottom: 8px;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slide-part{
    width: 100%;
    height: 600px;
}

.slide-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

.text{
    color: black;
}

.text p{
    margin-top: 30px;
    color: aqua;
}

.best-selling h1{
    text-align: center;
    color: #4b4a4a;
}

.best-selling{
    height: 100vh;
}

.best-selling-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.power-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.new-arrivel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 110vh;

}

.new-arrivel h1{
    text-align: center;
    color: #4b4a4a;
    height: 100px;
}

.new-arrival-flex{
    display: flex;

    align-items: center;
    gap: 50px;
    width: 100%;
}

.new-arrival-flex img{
    width: 200px;
}

.new-arrivel-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    justify-content: center;
    align-content: center;
    width: 90%;
}

.main-latest-product-form h1{
    text-align: center;
    margin-top: 20px;
}


.latest-product-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.all-in-one-css p{
    color: aqua;
}

.latest-products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin-top: 20px;
}

.latest-products p{
    color: aqua;
}
