.categoryinput2 input
{
    height: 40px;
    width: 370px;
    margin: 20px;
    border-color: #3C69C4;
    border-radius: 5px;
}

.categoryinput2{
    display: flex;
    align-items: center;
}

.item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.itemform
{
    display: flex;
    align-items: center;
}

.cancel-btn button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background: gray;

}

.item-form-group input{
    margin-left: 30px;
    width: 500px;
    height: 30px;
    border-radius: 5px;
}

