@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .admin-register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* border: 1px solid green; */

  }
  .admin-register-form form{
    text-align: center;
}


.register-form{
    width: 600px;
    display: grid;
    /* flex-direction: column; */
    /* align-items: center; */
/*
    border: 1px solid red; */
}

.form-group input{
    margin-left: 30px;
    width: 500px;
    height: 30px;
    border-radius: 5px;
}

.form-group2 input{
    margin-left: 62px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.form-group3 select{
    margin-left: 30px;
    width: 220px;
    height: 30px;
    border-radius: 5px;
}

.age-role-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.form-group textarea{
    margin-left: 30px;
    width: 500px;
    height: 60px;
    border-radius: 5px;
}

.register-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



  @media only screen and (min-width: 300px ) and (max-width: 600px) {
    .admin-Register h2{
        font-size: 20px;
        text-align: center;
        margin-top: 30px;
      }
    .admin-Register{
        width: 240px;
        background-color: rgb(215, 215, 215);
        padding:20px;

       }
    .form-group2 textarea{
        margin-left: 40px;
        width: 235px;
        border: none;
      }
    .form-group input
    {
      width: 240px;
      height: 30px;
      /* margin-left: 30px; */
      border: none;
    }

    .form-group{
        margin-top: 10px;
        display: flex;
        gap:10px;
        justify-content: left;
        flex-direction: column;

      }
      .main-register-form{

        display: flex;

        flex-direction: column;
        /* align-items: center; */
        margin-top: 50px;
      }


  }
