
.subcategory{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.gotoregister button
{
    width: 175px;
    height: 50px;
    background-color: #3C69C4;
    color: white;
    font-size: 20px;
    margin: 30px 30px 30px 30px;
    border-radius: 10px;
    border: none;
}

.categoryinput button{
    width: 175px;
    height: 50px;
    background-color: #3C69C4;
    color: white;
    font-size: 20px;
    margin: 30px 30px 30px 30px;
    border-radius: 10px;
    border: none;
}

.categoryinput{
    display: flex;
    align-items: center;
}

.categoryinput input
{
        width: 590px;
        height: 40px;
        border-radius: 10px;
        border-color: #3C69C4;
        margin-left: 120px;
}

.sub-form input{
    margin-top: 30px;
    width: 500px;
    height: 30px;
    border-radius: 5px;
}

.subcategory-from{
    margin-top: 20px;

}

.form-group3{
    margin-top: 30px;

}





/* .dropdown {
    display: inline-block;
    margin-left: 20px;
    width: 45%;
    border: none;
  } */

  .dropdown select{
    border: none;
  }

  /* .dropdown button{
    width: 150px;
    height: 50px;
    background-color: white;
    color: #3C69C4;
    border: 1px solid#3C69C4;
    border-radius: 5px;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;

    text-decoration: none;
    display: block;
  }


.dropdown:hover .dropdown-content {
    display: block;
  }

  .btn:hover, .dropdown:hover .btn {
    background-color: #0b7dda;
  } */

