
.subcategory{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.gotoregister button
{
    width: 175px;
    height: 50px;
    background-color: #3C69C4;
    color: white;
    font-size: 20px;
    margin: 30px 30px 30px 30px;
    border-radius: 10px;
    border: none;
}

.categoryinput button{
    width: 175px;
    height: 50px;
    background-color: #3C69C4;
    color: white;
    font-size: 20px;
    margin: 30px 30px 30px 30px;
    border-radius: 10px;
    border: none;
}

.categoryinput{
    display: flex;
    align-items: center;
}

.categoryinput input
{
        width: 583px;
        height: 40px;
        border-radius: 10px;
        border-color: #3C69C4;
        margin-left: 120px;
}

.dropdown {
    display: inline-block;
    margin-left: 20px;
    width: 45%;
  }

  .dropdown button{
    width: 150px;
    height: 50px;
    background-color: #3C69C4;
    color: white;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;

    text-decoration: none;
    display: block;
  }


.dropdown:hover .dropdown-content {
    display: block;
  }

  .btn:hover, .dropdown:hover .btn {
    background-color: #0b7dda;
  }

