.subcategory{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    margin: 10px;
}

.supplierRegister button
{
    width: 125px;
    height: 40px;
    background-color: #3C69C4;
    color: white;
    font-size: 20px;
    margin: 30px 30px 30px 30px;
    border-radius: 10px;
}

.supplierRegister a
{
    text-decoration: none;
    color: white;
}
.supplier-register-form{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* justify-items: center; */
    gap:20px;
    width: 600px;
    margin-top: 50px;
  }
  .supplier-register{

   padding:20px;
   width: 700px;
  }


.supplier input
{
        width: 625px;
        height: 40px;
        border-radius: 10px;
        border-color: #3C69C4;
        margin-left: 120px;
}

.supplier button{
    width: 125px;
    height: 40px;
    background-color: #3C69C4;
    color: white;
    font-size: 20px;
    margin: 30px 30px 30px 30px;
    border-radius: 10px;
    border: none;
}

.supplier-form-group{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */

    /* align-items: center; */
  }

  .supplier-form-group input
  {
    width: 500px;
    height: 30px;
    /* margin-left: 30px; */
    border-radius: 5px;

  }


  .supplier-form-group2 textarea{
    border-radius: 5px;

  }

  .main-register-form{
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;


  }

  .supplier-register h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .supplierForm{
    height: 100vh;
  }

  .mainsupplier{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .supplier-form-group{
    margin-left: 30px;
    margin-top: 30px;
  }

.supplier-form-group input{
    margin-left: 150px;
    border-radius: 5px;
}

.supplier-button{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;

    margin-top: 30px;
    text-align: center;
}



