@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }



.customer-login{
    height: 80vh;
    width: 100%;

}

.customer-login h1
{
    text-align: center;
    margin-top: 40px;
}
.customer-Login-Form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-Login-Form form{
    width: 250px;
    height: 500px;
}

.login-form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

.customerLogin{
    display: flex;
    flex-direction:column ;
    justify-content: center;align-items: center;
}

.login-form input{
    width: 200px;
    height: 30px;
    margin-top: 30px;
    border: none;
}

.btn2{
    width: 150px;
    height: 30px;
    /* margin-left: 30px; */
    margin-top: 20px;
    background-color: #08BABA;
    color: white;
    border: none;
    border-radius: 5px;
}
.d-flex input{
    border: none;
    width: 200px;
}
